@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .section-min-height{
        min-height: calc(100vh - 68px);
    }
    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
    }
}

.bg-new{
    background-image: url(../public/images/bg-union1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-sign{
    background-image: url(../public/images/onboard-bg.33e873769f299f39096eda7e03e351de.svg);
    background-repeat: no-repeat;
    background-size: cover;
}